<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase Práctica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-4 text-center">
        <h1 class="text-success"> Registro de Ciudades </h1>
    </div>

    <div class="container">
        <form method="post" action="/">
            <label for="" class="form-label">Nombre de la ciudad</label>
            <input type = "text" name = "nombre" class = "form-control" >

            <label for = "" class = "form-label mt-3">Población</label>
            <input type = "text" name = "poblacion" class = "form-control">

            <button type = "submit" class = "btn btn-outline-success mt-3 col-12 col-md-3">Registrar</button>
        </form>
    </div>

    {% if respuesta %}
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            {{ respuesta }}
        </div>
    </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>